<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hanwenjiaoyu.homefarm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ImageTranslucentTheme">

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".Caozuojiemian"/>
        <activity android:name=".Zhuangtai"/>
        <activity android:name=".Caiyuan"/>
        <activity android:name=".Fangan"/>
        <activity android:name=".Zhilian"/>

        //悬浮窗
        <service
            android:name="FloatWindowService"
            android:enabled="true" >
        </service>
        //zxing
        <activity android:name="com.dtr.zxing.activity.CaptureActivity"/>
        <activity android:name="com.dtr.zxing.activity.ResultActivity"/>

        //simplewifi
        <activity
            android:name="com.rtk.simpleconfig_wizard.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>

        <activity android:name="com.wifi.connection.MainActivity"
                  android:theme="@android:style/Theme.Holo.Light.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:noHistory="true">
            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wifi.connection.CONNECT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //QQ
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105607320" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        //微信
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
    </application>

    //摄像头权限
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- wifi usage -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- file and SD Card usage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    //GPS
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    //微信
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    //悬浮窗
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    //应用信息
    <uses-permission android:name="android.permission.GET_TASKS" />
</manifest>